  <div class="absolute-container">
  	<img class="mural" src=<%=image_path('float_tank.jpg')%> alt="Float Tank"/>
    <div class="mural-text-center">
      <p>WHAT IS FLOATING</p>
    </div>
  </div>

 <div class="description">
  	 <br>
     <h3><small>
     Floating is the practice of lying in 10 inches of water in a large, cozy, and luxurious tub. Inside the tub, there is 1000 pounds of Epsom salt, which completely supports your body allowing you to naturally float. Your eyes will be submerged in water, but your face is above the water. The water is the same temperature as your skin, which gives you the sensation of floating in air. You lose the effects and perception of gravity. The environment is pitch black, soundproofed, with a neutral smell. As a result, the floater enters a deep state of mental and physical relaxation.
     </small></h3>
  </div>

   <div class="absolute-container">
  	<img class="mural" src=<%=image_path('float_tank_2.jpg')%> alt="Float Tank"/>
    <div class="mural-text-center">
      <p>BENEFITS</p>
    </div>
  </div>

<div class="description">
  <div class="row">
    <div class="col-md-2">
      <img src=<%=image_path 'sleep.jpg'%> alt="..." class="img-circle border-circle" height="150" width="150"/>
    </div>
    <div class="col-md-4">
      <h3 style="text-align: left;">SLEEP</h3>
      <p style="text-align: left;">
        Floating can help you reclaim your night and remind yourself how great your sleep can be. It is an effective treatment for people with insomnia and other sleep issues.
      </p>
    </div>
    <div class="col-md-2">
      <img src=<%=image_path 'pain.jpg'%> alt="..." class="img-circle border-circle" height="150" width="150"/>
    </div>
    <div class="col-md-4">
      <h3 style="text-align: left;">PAIN</h3>
      <p style="text-align: left";>
        The salt water minimizes the force of gravity on your body. This allows for your muscles, tendons, ligaments to relax, while your back decompresses into its ideal position. Research suggests floating can help with chronic pain, back pain, and other maladies.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <img src=<%=image_path 'beauty.jpg'%> alt="..." class="img-circle border-circle" height="150" width="150"/>
    </div>
    <div class="col-md-4">
      <h3 style="text-align: left;">BEAUTY</h3>
      <p style="text-align: left;">
        Float tanks contain 1000 pounds of salt, which is great for hydrating the skin. Our tank has a Microsilk unit which generates creating millions of bubbles small enough to penetrate the pores of your skin. The tiny oxygen bubbles, and salt form a powerful team that leaves your skin silky smooth and irresistibly soft.
      </p>
    </div>
    <div class="col-md-2">
      <img src=<%=image_path 'meditation.jpg'%> alt="..." class="img-circle border-circle" height="150" width="150"/>
    </div>
    <div class="col-md-4">
      <h3 style="text-align: left;">MEDITATION</h3>
      <p style="text-align: left";>
        Hack your soul and streamline the bliss. Meditation maybe difficult for some, but floating makes it a lot easier. By eliminating distractions, floating helps you master your meditative process.
      </p>
    </div>
  </div>
</div>