<!--<script>
$(document).ready(function(){
	$(window).scroll(function(){
    	$("#week-selector").css("top", Math.max(0, 50 - $(this).scrollTop()));
    	alert("Test");
	});
}
</script>-->
<script>
	$(window).scroll(function(){
    	//$("#week-top").css("margin-top",Math.max(20,20-$(this).scrollTop()));
    	//alert($("#week-top").css("height"));
    	/*if ($(window).scrollTop() > 5) {
            $("#week-top").css({
                position: 'absolute',
                top: 0
            });        } 
        else {
            $("#week-top").css({
                position: 'static'
            });
        }*/
	});
</script>
<script src="jquery.js"></script>
<script src="jquery.sticky.js"></script>
<script>
  $(document).ready(function(){
    $("#week-top").sticky({topSpacing:50});
  });
</script>

<div class="container" style="text-align: center;">
	<div class="calendar">
		<div id="week-top">
			<div id="week-selector">
				<a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a>
				<div style="font-size: 0.8em; display: inline-block;">This Week, <%= @date.strftime("%b %Y")%></div>
				<a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
			<ul class="weekdays">
				<% for i in 0..6 %>
					<li>
						<h3><small><strong><%= @days[i] %></strong></small></h3>
						<% if @week[i].today? %>
							<h4><strong><u><%= @week[i].strftime("%e") %></u></strong></h4>
							<!--Wrong Date-->
						<% else %>
							<h4><strong><%= @week[i].strftime("%e") %></strong></h4>
						<% end %>
					</li>
				<%end%>
			</ul>
		</div>
		<div id="weekday-container">
			<ul class="weekdays" id="times">
				<% for i in 0..6 %>
					<li id="day-column">
						<% for j in 0..5 %>
							<div id="time-slot">
								<!--Need to fix darker borders-->
								<br/>
								<h4 style="text-align: left; padding-left: 10%;"><small><%= @times[j] %></small></h4>
								<br/>
								<button type="button" class="btn btn-default btn-bloom">Reserve</button>
							</div>
						<% end %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>


<!--<h1 style="text-align:left; padding-left: 200px; float:left;">BOOK NOW!</h1>
  <% #Initialize the proper date and week, can be simpler using step %>
  <% @sunday = @date.day - @date.wday %>
  <% @saturday = @sunday + 6 %>
  <% @beginning_month = @date.month %>
  <% @ending_month = @date.month %>
  <% @beginning_year = @date.year %>
  <% @ending_year = @date.year %>
  <% if @sunday < 1 %>
  	<% @beginning_month = @date.month-1%>
  	<% if @beginning_month < 1 %>
  		<% @beginning_year-=1 %>
  		<% @beginning_month = 12 %>
  	<% end %>
  	<% @sunday+=Time.days_in_month(@beginning_month,@date.year) %>
  <% end %>
  <% if @saturday > Time.days_in_month(@date.month,@date.year) %>
  	<% @ending_month = @date.month+1%>
  	<% if @ending_month > 12 %>
  		<% @ending_year+=1 %>
  		<% @ending_month = 1 %>
  	<% end %>
  	<% @saturday-=Time.days_in_month(@date.month,@date.year) %>
  <% end %>
  <% @beginning_of_week = Date.civil(@beginning_year, @beginning_month, @sunday) %>
  <% @end_of_week = Date.civil(@ending_year, @ending_month, @saturday) %>

<ul class="nav nav-pills" style="text-align:right; float:right; padding-right: 160px; margin-top: 20px;">
  <li role="presentation" class= "<%= 'active' if current_page?(booking_path(option: "float1")) %>" ><%= link_to 'Float 1', booking_path(option: 'float1') %></li>
  <li role="presentation" class= "<%= 'active' if current_page?(booking_path(option: "float2")) %>" ><%= link_to 'Float 2', booking_path(option: 'float2') %></li>
  <li role="presentation" class= "<%= 'active' if current_page?(booking_path(option: "chair")) %>" ><%= link_to 'Chair', booking_path(option: 'chair') %></li>
  <li role="presentation" class= "<%= 'active' if current_page?(booking_path(option: "yoga")) %>"><%= link_to 'Yoga', booking_path(option: 'yoga') %></li>
</ul>

<% #Set up table %>
<table id='calendar' align="center">
	<tr>
		<% (@beginning_of_week..@end_of_week).each do |d| %>
			<th><%= d.strftime('%A') %></th>
		<% end %>
  	</tr>
  	<tr>
  		<% (@beginning_of_week..@end_of_week).each do |d| %>
			<th><%= d.strftime('%B %e, %Y') %></th>
			<% @cday = d.strftime('%B %e, %Y') %>
		<% end %>
	</tr>
	<tr>
		<% (10..18).each do |i| %>
			<tr>
			  	<% 7.times do %>
			    	<td> 
			    		<div class="date-block">
			    			<p>
			    				<div>
			    					<p style="font-size:12px; margin-bottom:-3px; padding-top: 40px;"> 
			    						<% if i > 12 %>
			    							<%= i-12 %>:00 PM
			    						<% else %>
			    							<%= i %>:00 AM
			    						<% end %>
			    					</p>
			    					<p>
			    						<b>Available</b>
			    					</p>
			    				</div>
			    				<div class="date-button">
				    				<a class="btn btn-info" href=<%=pre_new_appointment_path(hour: i, month: @date.month, day: @date.day, year: @date.year, cday: @cday, option: @option)%> role="button">Reserve</a>
									</button>
								</div>
			    			</p>
			    		</div>
			    	</td>
			  	<% end %>
		  	</tr>
		<% end %>
	</tr>
</table>-->
