<h1 style="text-align:left; padding-left: 200px; float:left;">BOOK NOW!</h1>
  <% #Initialize the proper date and week, can be simpler using step %>
  <% @sunday = @date.day - @date.wday %>
  <% @saturday = @sunday + 6 %>
  <% @beginning_month = @date.month %>
  <% @ending_month = @date.month %>
  <% @beginning_year = @date.year %>
  <% @ending_year = @date.year %>
  <% if @sunday < 1 %>
  	<% @beginning_month = @date.month-1%>
  	<% if @beginning_month < 1 %>
  		<% @beginning_year-=1 %>
  		<% @beginning_month = 12 %>
  	<% end %>
  	<% @sunday+=Time.days_in_month(@beginning_month,@date.year) %>
  <% end %>
  <% if @saturday > Time.days_in_month(@date.month,@date.year) %>
  	<% @ending_month = @date.month+1%>
  	<% if @ending_month > 12 %>
  		<% @ending_year+=1 %>
  		<% @ending_month = 1 %>
  	<% end %>
  	<% @saturday-=Time.days_in_month(@date.month,@date.year) %>
  <% end %>
  <% @beginning_of_week = Date.civil(@beginning_year, @beginning_month, @sunday) %>
  <% @end_of_week = Date.civil(@ending_year, @ending_month, @saturday) %>

<ul class="nav nav-pills" style="text-align:right; float:right; padding-right: 160px; margin-top: 20px;">
  <li role="presentation"><a href="#">Float 1</a></li>
  <li role="presentation"><a href="#">Float 2</a></li>
  <li role="presentation"><a href="#">Chair</a></li>
  <li role="presentation"><a href="#">Yoga</a></li>
</ul>

<% #Set up table %>
<% srand(1234) %>
<table id='calendar' align="center">
	<tr>
		<% (@beginning_of_week..@end_of_week).each do |d| %>
			<th><%= d.strftime('%A') %></th>
		<% end %>
  	</tr>
  	<tr>
  		<% (@beginning_of_week..@end_of_week).each do |d| %>
			<th><%= d.strftime('%B %e, %Y') %></th>
		<% end %>
	</tr>
	<tr>
		<% (10..18).each do |i| %>
			<tr>
			  	<% 7.times do %>
			    	<td> 
			    		<div class="date-block">
			    			<p>
			    				<div>
			    					<p style="font-size:12px; margin-bottom:-3px; padding-top: 40px;"> 
			    						<% if i > 12 %>
			    							<%= i-12 %>:00 PM
			    						<% else %>
			    							<%= i %>:00 AM
			    						<% end %>
			    					</p>
			    					<p>
			    						<b>Available</b>
			    					</p>
			    				</div>
			    				<div class="date-button">
				    				<a class="btn btn-info" href=<%=new_appointment_path%> role="button">Reserve</a>
									</button>
								</div>
			    			</p>
			    		</div>
			    	</td>
			  	<% end %>
		  	</tr>
		<% end %>
	</tr>
</table>