<% if @hour.to_i > 12 %>
	<% @adjusted_hour = @hour.to_i - 12 %>
<% else %>
	<% @adjusted_hour = @hour %>
<% end %>
<h1 style="text-align:center">Scheduling an appointment for:</h1>
<h2 style="text-align:center"><%=@cday%> <%=@adjusted_hour%>:00 <%=(@hour.to_i > 12) ? 'PM' : 'AM' %> </h2>
<div class="row">
	<form class="col-md-4 col-centered">
	  <div class="form-group">
	    <label for="first_name">First Name</label>
	    <input type="string" class="form-control" id="first_name" value=<%=current_user.first_name%>>
	  </div>
	  <div class="form-group">
	    <label for="last_name">Last Name</label>
	    <input type="string" class="form-control" id="last_name" value=<%=current_user.last_name%>>
	  </div>
	  <div class="form-group">
	    <label for="email">Email</label>
	    <input type="email" class="form-control" id="eemail" value=<%= current_user.email %>>
	  </div>

	  <button type="submit" class="btn btn-default submit">Reserve Your Spot!</button>
	  <script>
	  	
	  </script>
	</form>
</div>