<!DOCTYPE html>
<html>
<head>
  <title>Bloom Wellness</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href=<%= root_path %>><strong>BLOOM</strong></a>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to 'HOME', '/' %></li>
      <li><%= link_to 'ABOUT US', about_path %></li>
      <li><%= link_to 'PACKAGES & PRICING', pricing_path %></li>
      <li><%= link_to 'BOOKING', booking_path %></li>
      <li><%= link_to 'GALLERY', gallery_path %></li>
      <li><%= link_to 'BENEFITS', benefits_path %></li>
      <li><%= link_to 'CONTACT', contact_path %></li>
    </ul>
  </div>
</div>

<%= yield %>

<footer class="navbar navbar-inverse" style="margin-bottom:0px; text-align:center;">
  <div class="btn-group" style="margin-top:20px; margin-bottom:20px;">
    <button type="button" class="btn btn-default social-button">
          <i class="icon-fa-facebook"></i> 
    </button>
    <button type="button" class="btn btn-default social-button">
          <i class="icon-fa-twitter"></i> 
    </button>
    <button type="button" class="btn btn-default social-button">
          <i class="icon-fa-instagram"></i> 
    </button>
    <button type="button" class="btn btn-default social-button">
          <i class="icon-fa-youtube"></i> 
    </button>
  </div>
</footer>

</body>
</html>
