<!DOCTYPE html>
<html>
<head>
  <title>Bloom Wellness</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top navbar-custom" style="height: 60px; padding: 0 150px 0 150px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="margin-top: 4px;" href=<%= root_path %>><%= image_tag('bloom_wellness.png', height: '45', width: '100', class: "logo")%></a>
      <button type="button" class="navbar-toggle collapsed menu-button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button> 
    </div>
    <ul class="nav navbar-nav navbar-collapse collapse" id="navbar" style="float: right;">
      <li><%= link_to 'HOME', '/',{:style=>'color:#A8A8A8;'} %></li>
      <li><%= link_to 'ABOUT US', about_path, {:style=>'color:#A8A8A8;'} %></li>
      <li><%= link_to 'PACKAGES & PRICING', pricing_path, {:style=>'color:#A8A8A8;'} %></li>
      <li><%= link_to 'BOOKING', booking_path(option: "float1"), {:style=>'color:#A8A8A8;'} %></li>
      <li><%= link_to 'GALLERY', gallery_path, {:style=>'color:#A8A8A8;'} %></li>
      <li><%= link_to 'BENEFITS', benefits_path, {:style=>'color:#A8A8A8;'} %></li>
      <li><%= link_to 'CONTACT', contact_path, {:style=>'color:#A8A8A8;'} %></li>
    </ul>
  </div>
</div>

<div style="text-align:center">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>
<div style="margin-bottom: 150px;">
  <%= yield %>
</div>

<footer class="navbar navbar-inverse navbar-bottom" style="margin-bottom:0px; text-align:center; margin-top: 50px;">
  <div class="btn-group-lg" style="margin-top:20px; margin-bottom:20px;">
    <button type="button" class="btn btn-default social-button">
          <i class="icon-fa-facebook"></i> 
    </button>
    <button type="button" class="btn btn-default social-button">
          <i class="icon-fa-twitter"></i> 
    </button>
    <button type="button" class="btn btn-default social-button">
          <i class="icon-fa-instagram"></i> 
    </button>
    <button type="button" class="btn btn-default social-button">
          <i class="icon-fa-youtube"></i> 
    </button>
  </div>
</footer>

</body>
</html>
